.center
    text-align: center

.m10px
    margin: 10px

.height
    line-height: 2.5

.logo
    border-radius: 10px
    // max-width: 5rem
    width: 150px
    border: solid 2px $white
    margin-left: 0px
    
.logo__grey
    border: $grey

